<section class="header-block-1">
		<div class="container">
			<div class="row no_margin no_padding">
				<div class="col-sm-12 col-md-3 col-xs-12">
					<p class="heading-small-tag-line">Special Offer</p>
				</div>
				<div class="col-sm-12 col-md-9 col-xs-12">
					<div class="row no_margin no_padding">
						<div class="cust-left-padding">
							<p class="navbar-heading-inline cctitle">Customer Care (24x7): 0000000000 |</p>
							<p class="navbar-heading-inline"><a href="#">Accept Payments |</a></p>
							<p class="navbar-heading-inline"><a href="#">Add Money  |</a></p>
							<p class="navbar-heading-inline"><a href="#">Each One Teach One |</a></p>
							<p class="navbar-heading-inline"><a href="#">Track Order |</a></p>
							<p class="navbar-heading-inline"><a href="#">Sell Item</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>