<section class="header-block-2">
		<div class="container">
			<div class="row no_padding no_margin">
				<div class="block2-height-padding">
					<div class="col-sm-1 col-md-1 col-xs-1 cust-padding10">
						<img src="images/Horizontal-line.png" id="click-icon" class="img-responsive cust-img-width">
						<!-- Meha Navbar Start Here-->
							<div class="mega-menu" style="display:none;">
								<div class="demo">
									<div id="verticalTab">
										<ul class="resp-tabs-list">
											<li>Upgrade to Apple</li>
											<li>Mobile & Accessories</li>
											<li>Electronics</li>
											<li>Men's Fashion</li>
											<li>Women's Fashion</li>
											<li>Home & Kitchen</li>
									</ul>
									<div class="resp-tabs-container">
										<div>
											<div class="apple-box">
												<a href="#" class="store-heading">Apple Iphone 7</a>
												<a href="#" class="store-heading">Apple Iphone 6</a>
												<a href="#" class="store-heading">Apple Iphone 5</a>
												<a href="#" class="store-heading">Apple Iphone 4</a>
												<a href="#" class="store-heading">Apple Iphone 3</a>
												<a href="#" class="store-heading">Apple Iphone 2</a>
												<a href="#" class="store-heading">Apple Iphone 1</a>
											</div>

										</div>
										<div>
											<div class="mobile-box">
												<div class="row no_padding no_margin">
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Mobile</p>
															<a href="#" class="store-heading">Samsung</a>
															<a href="#" class="store-heading">Apple</a>
															<a href="#" class="store-heading">MI</a>
															<a href="#" class="store-heading">Vivo</a>
															<a href="#" class="store-heading">Oppo</a>
															<a href="#" class="store-heading">Motorola</a>
															<a href="#" class="store-heading">Lenovo</a>
													</div>
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Tablet</p>
															<a href="#" class="store-heading">Samsung Tablet</a>
															<a href="#" class="store-heading">I ball Tablet</a>
															<a href="#" class="store-heading">Kindle Tablet</a>
															<a href="#" class="store-heading">IOS Tablet</a>
															<a href="#" class="store-heading">Android Tablet</a>
															<a href="#" class="store-heading">Non Calling Tablet</a>
															<a href="#" class="store-heading">Quard-core Tablet</a>
													</div>
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Headphone & Headset</p>
															<a href="#" class="store-heading">JBL</a>
															<a href="#" class="store-heading">Sony</a>
															<a href="#" class="store-heading">Jebra</a>
															<a href="#" class="store-heading">Philips</a>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="electronic-box">
												<div class="row no_padding no_margin">
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Desktop & Laptop</p>
															<a href="#" class="store-heading">HP</a>
															<a href="#" class="store-heading">Dell</a>
															<a href="#" class="store-heading">Lenovo</a>
															<a href="#" class="store-heading">Mac Book</a>
															<a href="#" class="store-heading">Core I3</a>
															<a href="#" class="store-heading">Core I5</a>
															<a href="#" class="store-heading">Core I7</a>
													</div>
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Television</p>
															<a href="#" class="store-heading">32 Inch TV</a>
															<a href="#" class="store-heading">40 Inch TV</a>
															<a href="#" class="store-heading">42 Inch TV</a>
															<a href="#" class="store-heading">48 Inch TV</a>
															<a href="#" class="store-heading">60 Inch TV</a>
															<a href="#" class="store-heading">Full HD TV</a>
															<a href="#" class="store-heading">SMART TV</a>
													</div>
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Kitchen Appliance</p>
															<a href="#" class="store-heading">Juicer</a>
															<a href="#" class="store-heading">Food Processor</a>
															<a href="#" class="store-heading">Water Purifier</a>
															<a href="#" class="store-heading">Sandwich Maker</a>
															<a href="#" class="store-heading">Hand Blenders</a>
															<a href="#" class="store-heading">Air Fryers</a>
															
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="mens-box">
												<div class="row no_margin no_padding">
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Clothing</p>
															<a href="#" class="store-heading">T-Shirt</a>
															<a href="#" class="store-heading">Jeans</a>
															<a href="#" class="store-heading">Casual Shirts</a>
															<a href="#" class="store-heading">Casual Trouser</a>
															<a href="#" class="store-heading">Jacket</a>
															<a href="#" class="store-heading">Formal Shirts</a>
															<a href="#" class="store-heading">Sportswear</a>
															<a href="#" class="store-heading">Sleepwear</a>
															
													</div>
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Shoes</p>
															<a href="#" class="store-heading">Sports Shoes</a>
															<a href="#" class="store-heading">Causal Shoes</a>
															<a href="#" class="store-heading">Formal Shoes</a>
															<a href="#" class="store-heading">Outdoor Shoes</a>
															<a href="#" class="store-heading">Sandals</a>
															<a href="#" class="store-heading">Chappals</a>
															<a href="#" class="store-heading">Sneakers</a>
															<a href="#" class="store-heading">Loafers</a>
															
													</div>
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Bags & Luggage</p>
															<a href="#" class="store-heading">Suitcase</a>
															<a href="#" class="store-heading">Backpads</a>
															<a href="#" class="store-heading">Slings Bags</a>
															<a href="#" class="store-heading">Duffer Bags</a>
															<a href="#" class="store-heading">Gym Bags</a>
															<a href="#" class="store-heading">Safari</a>
															<a href="#" class="store-heading">Travel Bags</a>
															<a href="#" class="store-heading">Amriacan Toursister</a>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="women-box">
												<div class="row no_margin no_padding">
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Dress Material</p>
															<a href="#" class="store-heading">Saree</a>
															<a href="#" class="store-heading">Kurtis</a>
															<a href="#" class="store-heading">Salwar Suit</a>
															<a href="#" class="store-heading">Churidar</a>
															<a href="#" class="store-heading">Gym Bags</a>
															<a href="#" class="store-heading">Leggings</a>
															<a href="#" class="store-heading">Ethnic Bestseller</a>
															<a href="#" class="store-heading">Traditiona Wear</a>
													</div>
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Footwear</p>
															<a href="#" class="store-heading">Sports Shoes</a>
															<a href="#" class="store-heading">Casual Shoes</a>
															<a href="#" class="store-heading">Boots</a>
															<a href="#" class="store-heading">Sandals</a>
															<a href="#" class="store-heading">Flats</a>
															<a href="#" class="store-heading">Slippers</a>
															<a href="#" class="store-heading">Bellies</a>
															<a href="#" class="store-heading">Traditiona footwear</a>
													</div>
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Dress Material</p>
															<a href="#" class="store-heading">Saree</a>
															<a href="#" class="store-heading">Kurtis</a>
															<a href="#" class="store-heading">Salwar Suit</a>
															<a href="#" class="store-heading">Churidar</a>
															<a href="#" class="store-heading">Gym Bags</a>
															<a href="#" class="store-heading">Leggings</a>
															<a href="#" class="store-heading">Ethnic Bestseller</a>
															<a href="#" class="store-heading">Traditiona Wear</a>
													</div>
												</div>
											</div>
										</div>
											<div class="kitchen-box">
												<div class="row no_margin no_padding">
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Cookware & Gas Stove</p>
															<a href="#" class="store-heading">Gas Stove</a>
															<a href="#" class="store-heading">Hobbs</a>
															<a href="#" class="store-heading">Presure Coocker </a>
															<a href="#" class="store-heading">Kadhai</a>
															<a href="#" class="store-heading">Tavas</a>
															<a href="#" class="store-heading">Idali Maker</a>
															<a href="#" class="store-heading">Cook & Serve Casserloes</a>
															<a href="#" class="store-heading">Coockwear Accessories</a>
													</div>
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Beadsheet</p>
															<a href="#" class="store-heading">Beadsheet</a>
															<a href="#" class="store-heading">Curtains</a>
															<a href="#" class="store-heading">Towels</a>
															<a href="#" class="store-heading">Beadsheet Combos</a>
															<a href="#" class="store-heading">Pillow</a>
															<a href="#" class="store-heading">Blankets</a>
															<a href="#" class="store-heading">Quilt</a>
															<a href="#" class="store-heading">Cushion Covers</a>
													</div>
													<div class="col-sm-4 col-md-4 col-xs-12">
														<p class="box-store-heading">Furniture</p>
															<a href="#" class="store-heading">Wardrobes</a>
															<a href="#" class="store-heading">Beds</a>
															<a href="#" class="store-heading">Mattress</a>
															<a href="#" class="store-heading">Sofas</a>
															<a href="#" class="store-heading">Bean Bags</a>
															<a href="#" class="store-heading">TV Units</a>
															<a href="#" class="store-heading">Dining Tables</a>
															<a href="#" class="store-heading">Storage & Display Unit</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="height: 30px; clear: both"></div>
							</div>
							<!--Mega Menu End Here-->
					</div>
				</div>
					<div class="col-sm-2 col-md-1 col-xs-2">
						<a href="#" class="header2-heading">Logo</a>
					</div>
					<div class="col-md-3">
						<form>
							<input type="text" class="search" name="search" placeholder="Search..">
						</form>
					</div>
					<div class="col-sm-2 col-md-2 col-xs-2">
						<a href="#" class="header2-heading">Wallet</a>
					</div>
					<div class="col-sm-2 col-md-2 col-xs-2">
						<a href="#" class="header2-heading">Cart</a>
					</div>
					<div class="col-sm-2 col-md-2 col-xs-2">
						<a href="#" class="header2-heading">Log In</a> 
				</div>
			</div>
		</div>
	</section>